.app {
  
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  float: left;
}
.li{
  list-style: none;
}
.li >img{
  border: 10px solid #cccc;
}
.container >li{
  border: 1px solid #cccc;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.skills{
 justify-content: center;
  display: flex;
}
.skills>li{
text-align: center;
padding: 0.2rem;

}
